name: Helm Charts CI

on:
  push:
    branches:
      - main
    paths:
      - "charts/**"
      - ".github/workflows/helm-publish.yml"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

permissions:
  contents: write
  packages: write 

jobs:
  list-charts:
    runs-on: ubuntu-latest
    outputs:
      chart_dirs: ${{ steps.get-charts.outputs.chart_dirs }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: List all chart directories
        id: get-charts
        run: |
          chart_dirs=$(find charts/* -maxdepth 0 -type d -exec basename {} \;)
          chart_dirs_json=$(echo "${chart_dirs}" | jq -R -s -c 'split("\n") | map(select(length > 0))')
          echo "chart_dirs=${chart_dirs_json}" >> $GITHUB_OUTPUT

  build-and-push:
    needs: list-charts
    runs-on: ubuntu-latest

    strategy:
      matrix:
        chart-dir: ${{ fromJson(needs.list-charts.outputs.chart_dirs) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.9.4

      - name: Helm dependency update
        run: helm dep update charts/${{ matrix.chart-dir }}

      - name: Helm package
        run: helm package charts/${{ matrix.chart-dir }} --destination ./packages

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v2.2.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Helm chart to GHCR
        run: |
          chart_name=$(basename ${{ matrix.chart-dir }})
          helm push ./packages/${chart_name}-*.tgz oci://${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Get Helm chart version
        id: get-version
        run: |
          version=$(grep '^version:' charts/${{ matrix.chart-dir }}/Chart.yaml | awk '{print $2}')
          echo "Chart version: $version"
          echo "chart_version=$version" >> $GITHUB_OUTPUT
